Conexão com a API CoinGecko

COINGECKO_API_KEY= sua_chave_aqui
DB_HOST=seu_host_aqui
DB_PORT=5432
DB_NAME=crypto_dw
DB_USER=seu_usuario_aqui
DB_PASSWORD=sua_senha_aqui

Conexão com o Banco de Dados PostgreSQL 

DB_HOST=seu_host_aqui
DB_PORT=5432
DB_NAME=neondb
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DATABASE_URL=postgresql://seu_usuario:sua_senha@seu_host/neondb?sslmode=require
